<p id="notice"><%= notice %></p>

<h1>Incoming Mails</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incoming_mails.each do |incoming_mail| %>
      <tr>
        <td><%= incoming_mail.title %></td>
        <td><%= incoming_mail.description %></td>
        <td><%= link_to 'Show', incoming_mail %></td>
        <td><%= link_to 'Edit', edit_incoming_mail_path(incoming_mail) %></td>
        <td><%= link_to 'Destroy', incoming_mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incoming Mail', new_incoming_mail_path %>
