<p id="notice"><%= notice %></p>

<h1>Outgoing Mails</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outgoing_mails.each do |outgoing_mail| %>
      <tr>
        <td><%= outgoing_mail.title %></td>
        <td><%= outgoing_mail.description %></td>
        <td><%= link_to 'Show', outgoing_mail %></td>
        <td><%= link_to 'Edit', edit_outgoing_mail_path(outgoing_mail) %></td>
        <td><%= link_to 'Destroy', outgoing_mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outgoing Mail', new_outgoing_mail_path %>
